$font-stack-system: 'Roboto',
'PingFang SC',
'Noto Sans CJK',
'WenQuanYi Micro Hei',
'Microsoft YaHei';
$heading-font-family: 'Roboto',
'PingFang SC',
'Noto Sans CJK',
'WenQuanYi Micro Hei',
'Microsoft YaHei';
// 'Roboto','PingFang SC','Noto Sans CJK','WenQuanYi Micro Hei','Microsoft YaHei'
// PingFangSC,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important;
// $font-stack-system: "微软雅黑", "Open Sans", sans-serif;
// $heading-font-family: "微软雅黑", "Open Sans", sans-serif;
$all-buttons: 'button, input[type="button"], input[type="submit"]';
$all-text-inputs: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"]';
